 .hourly {
    margin: 0 0 20px;
    @media (max-width: 860px) {
        display: none;
        padding: 0 20px;
        margin: 0;
        &.active {
            display: block;
        }
    }
    @media(max-width: 540px) {
        margin: 0 0 20px 0;
    }
    @media(max-width: 360px) {
        margin: 0;
    }
     &__title {
         margin: 0 0 10px 0;
         @media(max-width: 860px) {
             display: none;
        }
     }
     &__card {
        display: flex!important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        width: 100px!important;
        padding: 10px;
        border-radius: 20px;
        @media(max-width: 860px) {
            border: 1px solid rgba($color: #7359DC, $alpha: 0.3);
       }
        @media(max-width: 480px) {
            width: 85px!important;
        }
        @media(max-width: 315px) {
            width: 70px!important;
        }
     }
     &__card-image {
         width: 50%;
         display: flex;
         justify-content: center;
         margin: 0 0 10px 0;
        img {
            height: 60px;
            @media(max-width: 480px) {
                height: 40px;
            }
            @media(max-width: 315px) {
                height: 30px;
            }
        }
    }
    &__temp {
        margin: 0 0 10px 0;
    }
    &__temp-text {
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 18px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            border: 2px solid #000;
        }
    }
    &__time {
    }
    &__time-text {
        opacity: 0.5;
    }
 }