.now {
    margin: 0 0 20px 0;
    @media(max-width: 860px) {
        padding: 0 20px;
        display: none;
        margin: 0;
        &.active {
            display: block;
        }
    }
    @media(max-width: 540px) {
        margin: 15px 0 0 0;
    }
    @media(max-width: 420px) {
        margin: 0;
    }
    &__title {
        margin: 0 0 20px 0;
        @media(max-width: 860px) {
            display: none;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 20px;
        padding: 10px;
        @media(max-width: 860px) {
            padding: 0;
        }
    }
    &__row-column {
        display: flex;
        flex: 0 1 50%;
        @media(max-width: 500px) {
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 1 50%;
        @media(max-width: 860px) {
            height: 134px;
        }
        @media(max-width: 500px) {
            &:first-child{
                margin: 0 0 20px 0;
            }
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &__item-image {
        height: 60px;
        margin: 0 0 7px 0;
        @media(max-width: 360px) {
            height: 40px;
        }
        img {
            height: 100%;
        }
    }
    &__item-value {
        margin: 0 0 5px 0;
    }
    &__item-value-text {
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        @media (max-width: 500px) {
            text-align: left;
        }
    }
    &__item-name {

    }
    &__item-name-text {
        opacity: 0.5;
        text-align: center;
        @media (max-width: 500px) {
            text-align: left;
        }
    }
}