.now {
    margin: 0 0 20px 0;
    &__title {
        margin: 0 0 20px 0;
    }
    &__row {
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 20px;
        padding: 10px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 1 25%;
    }
    &__item-image {
        height: 60px;
        margin: 0 0 7px 0;
        img {
            height: 100%;
        }
    }
    &__item-value {
        margin: 0 0 5px 0;
    }
    &__item-value-text {
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 18px;
    }
    &__item-name {

    }
    &__item-name-text {
        opacity: 0.5;
    }
}