.slick-slider {
    width: 800px;
}

.slick-slide {
    width: 10%;
    &:first-child {
        .hourly__card {
            background: #7359DC;
        }
        .hourly__temp-text {
            font-family: 'Manrope';
            font-weight: 700;
            font-size: 18px;
            position: relative;
            color: #fff;
            &::after {
                content: '';
                position: absolute;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                border: 2px solid #fff;
            }
        }
        .hourly__time-text {
            color: #fff;
        }
    }
}

.slick-arrow {
    display: none!important;
}