@import './reset.scss';

// FONTS
@import './fonts.scss';

// VARIABLES
@import './variables.scss';

// INITIAL

body {
  font-family: 'Manrope';
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 80%;
  overflow: hidden
}

// FILES
@import './components/Homepage.scss';
@import './components/MainScreen.scss';
@import './components/Now.scss';
@import './components/Hourly.scss';
@import './components/Daily.scss';
@import './components/Slider.scss'